<div class="i-intro-section-container">
  <div class="i-intro-section">
    <h1>
      YOUR ONE STOP PLACE TO
      <div>LAND YOUR DREAM JOB</div>
    </h1>
    <div class="i-hr-white">

    </div>
    <div class="sub-heading">
      InterviewPulse can help you to schedule an Interview with current working
      <p style="text-align:center">professionals in your field of study</p>
    </div>
    <div>
      <button class="i-rounded-button">find out more</button>
    </div>
  </div>
</div>
<div class="i-needed-section" id="needed">
  <h3>
    We've got what you need!
  </h3>
  <div class="i-hr-white">
  </div>
  <div class="sub-heading">
    Are you preparing for an interview or have an interview in your dream company and don't
    <p style="text-align:center">know where to start!</p>
  </div>
  <div>
    <button class="i-rounded-button-white">get started!</button>
  </div>
</div>
<div class="i-working-section" id="how">
  <h3>
    How It Works
  </h3>
  <div class="i-hr-black">

  </div>
  <div class="i-working-steps">
    <div>
      <h4>
        Prepare
      </h4>
      <p>
        Create your resume and prepare for your interview.
      </p>
    </div>
    <div>
      <h4>
        Select A Professional
      </h4>
      <p>
        Select an expert in your field from a list of professionals!
      </p>
    </div>
    <div>
      <h4>
        Schedule An Interview
      </h4>
      <p>
        Schedule an interview with the professional.
      </p>
    </div>
    <div>
      <h4>
        Get Your Feedback
      </h4>
      <p>
        Your will get the feedback and areas for improvement!
      </p>
    </div>
  </div>
</div>
<div class="i-category-section">
  <div *ngFor="let category of categories">
    <img [src]="category.imgUrl">
    <div class="category-footer">
      <p>{{category.name}}</p>
    </div>
  </div>
</div>
<div class="i-contact-section" id="contact">
  <h3>
    Let's Get In Touch!
  </h3>
  <div class="i-hr-white">

  </div>
  <div>
    Ready to take an interview and get feedback from working professionals in your field? That's great!
    <p style="text-align:center"> Select your major and schedule an appointment with a professional that you want to interview with!</p>
  </div>
</div>
